-e git://github.com/dubirajara/django-tagulous#egg=django_tagulous
dj-config-url==0.1.1
dj-database-url==0.5.0
django-crispy-forms==1.7.2
django-recaptcha==1.4.0
django-registration-redux==2.4
Django==2.1
djangorestframework==3.8.2
gunicorn==19.8.1
psycopg2-binary==2.7.5
python-decouple==3.1
social-auth-app-django==2.1.0
whitenoise==3.3.1