dj-config-url==0.1.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0.4
django-crispy-forms==1.7.2
django-registration-redux==2.2
django-recaptcha==1.4.0
-e git://github.com/dubirajara/django-tagulous#egg=django_tagulous
djangorestframework==3.8.0
gunicorn==19.7.1
psycopg2==2.7.4
python-decouple==3.1
social-auth-app-django==2.1.0