{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}
{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">

<div class='row'>
<div class='col-sm-6 col-sm-offset-3' style="padding-top:80px">
          <p align="center"><br>
                                   <a class="btn-social btn-xs btn-facebook" href="{% url 'social:begin' 'facebook' %}">
    <span class="fa fa-facebook"></span> Sign in with facebook
  </a><br>
               <a class="btn-social btn-xs btn-twitter" href="{% url 'social:begin' 'twitter' %}">
    <span class="fa fa-twitter"></span> Sign in with Twitter
  </a><br><br>
          <strong>OR</strong>
              <hr/>
    </p>
<h3>Login:</h3><br>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Submit' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div>

<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
</div>
</div>
{% endblock %}
