{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Registration Form{% endblock title %}

{% block content %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">

<div class='row'>
<div class='col-sm-6 col-sm-offset-3' style="padding-top:80px">
              <p align="center"><br>
                                   <a class="btn-social btn-xs btn-facebook" href="{% url 'social:begin' 'facebook' %}">
    <span class="fa fa-facebook"></span> Sign up with Facebook
  </a><br>
               <a class="btn-social btn-xs btn-twitter" href="{% url 'social:begin' 'twitter' %}">
    <span class="fa fa-twitter"></span> Sign up with Twitter
  </a><br><br>
          <strong>OR</strong>
              <hr/>
    </p>
<h2>Register</h2>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Join' %}" />
</form>
</div>
</div>

<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p>Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
</div>
</div>


{% endblock %}
