{% extends "base.html" %}
{% block title %}Tags{% endblock title %}

{% block content %}

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features1-12" style="background-color: rgba(239, 239, 239, 0.28);">

        
    <div class="mbr-cards-row row striped">

        {% for idea in queryset %}

        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 100px; padding-bottom: 30px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-block">
                        {% if request.user == idea.user %}
                        <a class="btn btn-default btn-sm" href="{% url 'update' idea.slug %}">
                        <i class="fa fa-pencil fa-lg"></i></a>
                        <a class="btn btn-default btn-sm" href="{% url 'delete' idea.slug %}">
                            <i class="fa fa-trash-o fa-lg"></i></a><br>
                        {% endif %}
                        <h4 class="card-title">{{ idea.title }}</h4>
                        <h5 class="card-subtitle">By:<a href="{% url 'profile' idea.user.username %}">
                            {{ idea.user.username }}</a>
                        </h5>
                        <p class="card-text">{{ idea.description|truncatewords:"20" }}</p>
                        <br>
                        <br>
                          <p>
                              {% if user.is_authenticated %}
                            <a class='like-btn' data-href='{{ idea.get_api_like_url }}'
                               data-likes='{{ idea.likes.count }}' href='{{ idea.get_like_url }}'>
                                {{ idea.likes.count }} <i class="fa fa-thumbs-up"></i>
                            </a>
                              {% else %}
                              <a class='inactiveLink'>
                                {{ idea.likes.count }} <i class="fa fa-thumbs-up"></i>
                            </a>
                              {% endif %}
                            </p>
                        <div class="card-btn">
                            <a href="{{ idea.get_absolute_url }}" class="btn btn-primary">MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          {% if forloop.counter|divisibleby:5 and not forloop.last %}
        </div><br><div class="mbr-cards-row row striped">
      {% endif %}
    {% endfor %}
    </div>
</section>
{% endblock %}