{% extends "base.html" %}

{% block title %}{{ ideas.title }}{% endblock title %}


{% block content %}

    <br><div class="mbr-cards-row row striped">



        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 110px; padding-bottom: 50px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-block">
                        {% if request.user == ideas.user %}
                        <p align="right">
                             <a class="btn btn-default btn-sm" href="{% url 'update' ideas.slug %}">
                        <i class="fa fa-pencil fa-lg"></i>Edit</a>
                        <a class="btn btn-default btn-sm" href="{% url 'delete' ideas.slug %}">
                            <i class="fa fa-trash-o fa-lg"></i>Delete</a></p>
                        {% endif %}
                        <h4 class="card-title" style="text-align: center;">{{ ideas.title }}</h4>
                        <h6 class="card-subtitle" style="text-align: center;"><small class="text-muted">
                            By: <a href="{% url 'profile' ideas.user.username %}">
                            {{ ideas.user.username }}</a></small>
                        </h6>
                        <br>
                        <p class="card-text text-justify">{{ ideas.description|safe|linebreaks }}</p><br>
                    <div style="text-align: center;">
                          <p>
                              {% if user.is_authenticated %}
                            <a class='like-btn' data-href='{{ ideas.get_api_like_url }}'
                               data-likes='{{ ideas.likes.count }}' href='{{ ideas.get_like_url }}'>
                                {{ ideas.likes.count }} <i class="fa fa-thumbs-up"></i>
                            </a>
                              {% else %}
                              <a class='inactiveLink'>
                                {{ ideas.likes.count }} <i class="fa fa-thumbs-up"></i>
                            </a>
                              {% endif %}
                            </p>

                    {% if ideas.tags %}
                        {% for tag in ideas.tags.all %}
                               <a class="textag post-tag card-text" href="{% url 'by_tags' tag %}">
                                   <i class="fa fa-tag">&nbsp{{ tag }}</i></a>
                    {% endfor %}
                    {% endif %}
                    </div>
                    <div style="text-align: center;"><br>

                        <div>
                            <a href="https://twitter.com/share" class="twitter-share-button"
                                data-text="{{ ideas.title }}" data-lang="en" data-show-count=“true”>Tweet
                            </a>
                        </div>

                        <div class="fb-share-button"  data-href="{{ request.build_absolute_uri }}"
                             data-layout="button_count"></div>

                    </div>


                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <div id="disqus_thread"></div></div>
    <script id="dsq-count-scr" src="//shareyourideas-1.disqus.com/count.js" async></script>
<script>

var disqus_config = function () {
this.page.url = "{{ request.build_absolute_uri }}";  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "{{ ideas.slug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//shareyourideas-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=142940679526184";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

{% endblock %}